html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.background {
  background-image: url('src/images/bg_arcadia.jpg');
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.bg_login {
  display: flex;
  height: 100vh;
}

.logo {
  width: 35vw;
  height: 70vh;
  background-color: #841414;
  border-radius: 1.5% 0 0 1.5%;
  display: grid;
  place-items: center;
}

.login {
  width: 35vw;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 0 1.5% 1.5% 0;
  display: grid;
  place-items: center;
}

.grid-2col-unido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Dos columnas iguales */
  grid-gap: 0
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* Espacio entre los elementos */
  margin-top: 20px;
  /* Añade un margen superior */
}

.input_login {
  color: rgb(99, 12, 12);
  /* Cambia el color del texto del input a blanco */
}

.input_login .MuiInputBase-input {
  color: rgb(0, 0, 0);
  /* Asegura que el color del texto dentro del input sea blanco */
}

.input_login .MuiInputAdornment-root svg {
  color: rgb(158, 0, 0);
  /* Cambia el color del icono a blanco */
}

.input_login .borderColor {
  color: rgb(158, 0, 0);
  /* Cambia el color del icono a blanco */
}

.main-content {
  flex: 1;
  padding: 16px;
  overflow: hidden;
}

.color-g1 {
  background-color: #b9b9b9;
}

.perfilFontSize {
  font-size: 1.9vmax;
}

.overflow {
  height: 80%;
  overflow: auto;
}

.gridCentrao {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.gridCentrao3 {
  display: grid;
  place-items: center;
  width: 100%;
}

.similarAccordion {
  border: 1px solid #919191;
  grid-template-columns: 70% 30%;
  height: 10vh;
  width: 73vw;
  font-size: 1.2vmax;
}

.similarAccordionTaller {
  border: 1px solid #919191;
  grid-template-columns: 70% 30%;
  height: 20vh;
  width: 73vw;
  font-size: 1.2vmax;
}

.titulo h1 {
  display: grid;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.gridCentraoNoFull {
  display: grid;
  place-items: center;
  width: 90%;
}

.gridCentraoButtons {
  display: grid;
  place-items: center;
  width: 40%;
}

.gridTop {
  display: grid;
  place-items: top;
  width: 100%;
  height: 100%;
}

.gridCentrao2 {
  display: grid;
  place-items: left;
  width: 100%;
  height: 100%;
}

.gridCentrao5 {
  display: grid;
  place-items: left;
  width: 90%;
  height: 100%;
}

.grid-2colum-equal {
  grid-template-columns: 50% 50%;
  grid-column-gap: 2vw;
}

.grid-2row-equal {
  grid-template-rows: 50% 50%;
  grid-row-gap: 2vh;
}

.grid-2row-equal-lessSpace {
  grid-template-rows: 50% 50%;
  grid-row-gap: 1.5vh;
}

.grid-2colum-equal-lessSpace {
  grid-template-columns: 50% 50%;
  grid-column-gap: 0.5vw;
}

.grid-2colum-datos {
  grid-template-columns: 26% 75%;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

.grid-2colum-datos strong {
  /* justify-self: right; */
  padding-bottom: 0.5vh;
}

.grid-2row-top {
  grid-template-rows: 10% 90%;
  grid-row-gap: 2vh;
}

.grid-2row-topPerfil {
  grid-template-rows: 10% 80%;
}

.grid-3colum-equal {
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 0.66vw;
}

.grid-3row-equal {
  grid-template-rows: repeat(3, 30%);
  grid-row-gap: 0.2vh;
}

.grid-3row-equal-moreSpace {
  grid-template-rows: repeat(3, 30%);
  grid-row-gap: 1.2vmax;
}

.cuadrado-gris {
  background-color: #b9b9b9;
  /* border-radius: 10px; */
  padding: 1vmax 1vmax 1.7vmax 2vmax;
  font-size: 1.1em;
  font-weight: bold;
}


.fab-container {
  position: fixed;
  bottom: 4vh;
  right: 2vw;
  z-index: 1000;
  color: #4F0404;
}

.info {
  grid-template-rows: repeat(2, 53%);
  padding-top: 0.5vh;
  grid-row-gap: 0.2vh;
}

.info-libro {
  grid-template-columns: 27% 20% 20% 20% 20% 20%;
  height: auto;
  padding-left: 2vw;
}

.info-familiares {
  grid-template-columns: 11% 39% 11% 39%;
  grid-template-rows: repeat(2, 50%);
  grid-row-gap: 1vh;
}

.info-lugar {
  grid-template-columns: 10% 40% 17% 33%;
  padding-top: 2vh;
  height: auto;
}

.acciones {
  justify-content: start;
}

.grid-3colum {
  grid-template-columns: 10% 50% 40%;
}

.grid2-colum {
  grid-template-columns: 80% 15%
}

.border-top {
  border-top: #302f2f solid 1px;
}

.main-Conf {
  grid-template-rows: 93% 7%;
}

.grid-header-conf {
  grid-template-columns: 15% 40% 38% 1%;
}

.grid-header-conf p {
  font-weight: bold;
}

.header {
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #ccc;
}

.code {
  font-weight: 700;
}

.theme-toggle {
  display: grid;
  place-items: center;
  background: none;
}

.light {
  background-color: #841414;
}

.light .theme-toggle:hover {
  background-color: #4F0404;
  color: #fff;
}

.light .link {
  color: #ffffff;
}

.light .link:hover {
  background-color: #4F0404;
  color: #fff;
}

.light .link.active {
  background-color: #4F0404;
}

.light .linkIcon {
  color: #ffffff;
}